## Data preparation
### Dataset Description
Currently, rental bikes are introduced in many urban
cities for the enhancement of mobility comfort. It is
important to make the rental bike available and
accessible to the public at the right time as it lessens
 the waiting time. Eventually, providing the city with a
 stable supply of rental bikes becomes a major concern.
 The crucial part is the prediction of bike count
 required at each hour for the stable supply of rental
 bikes. The dataset contains weather information
 (Temperature,Humidity, Windspeed, Visibility, Dewpoint, Solar
radiation, Snowfall, Rainfall), the number of bikes
rented per hour and date information.

### Import packages and datasets

In [46]:
#Import package
import pandas as pd

In [47]:
# import dataset
df = pd.read_csv("Raw_data.csv",
                 encoding='latin1',parse_dates=['Date'])
df.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,2017-01-12,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,2017-01-12,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,2017-01-12,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,2017-01-12,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,2017-01-12,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [48]:
df.tail()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
8755,2018-11-30,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes
8756,2018-11-30,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8757,2018-11-30,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8758,2018-11-30,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes
8759,2018-11-30,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes

### More information based on inspection
The dataset contains dates from 01/12/2017 to 30/11/2018.
Each day was split into 24 hours,so we had 24 rows for
each day.

### Display some basic information about the data frame

In [49]:
# Print the number of rows and columns in the DataFrame
print('No. of columns = ',len(df.columns))
print('No. of rows = ',len(df))
print(df.shape)

No. of columns =  14
No. of rows =  8760
(8760, 14)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   datetime64[ns]
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(°C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(°C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(4), object(3)
memory usage: 958.2+ KB

### Check for null values

In [51]:
df.isna().sum()

Date                         0
Rented Bike Count            0
Hour                         0
Temperature(°C)              0
Humidity(%)                  0
Wind speed (m/s)             0
Visibility (10m)             0
Dew point temperature(°C)    0
Solar Radiation (MJ/m2)      0
Rainfall(mm)                 0
Snowfall (cm)                0
Seasons                      0
Holiday                      0
Functioning Day              0
dtype: int64

There is no null value in the dataset.

### Check for missing dates

In [52]:
# how many unique dates should have:
pd.date_range('2017-12-01', '2018-11-30')

DatetimeIndex(['2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
               '2017-12-05', '2017-12-06', '2017-12-07', '2017-12-08',
               '2017-12-09', '2017-12-10',
               ...
               '2018-11-21', '2018-11-22', '2018-11-23', '2018-11-24',
               '2018-11-25', '2018-11-26', '2018-11-27', '2018-11-28',
               '2018-11-29', '2018-11-30'],
              dtype='datetime64[ns]', length=365, freq='D')

In [53]:
# Actual unique dates in dataframe:
df['Date'].unique()

array(['2017-01-12T00:00:00.000000000', '2017-02-12T00:00:00.000000000',
       '2017-03-12T00:00:00.000000000', '2017-04-12T00:00:00.000000000',
       '2017-05-12T00:00:00.000000000', '2017-06-12T00:00:00.000000000',
       '2017-07-12T00:00:00.000000000', '2017-08-12T00:00:00.000000000',
       '2017-09-12T00:00:00.000000000', '2017-10-12T00:00:00.000000000',
       '2017-11-12T00:00:00.000000000', '2017-12-12T00:00:00.000000000',
       '2017-12-13T00:00:00.000000000', '2017-12-14T00:00:00.000000000',
       '2017-12-15T00:00:00.000000000', '2017-12-16T00:00:00.000000000',
       '2017-12-17T00:00:00.000000000', '2017-12-18T00:00:00.000000000',
       '2017-12-19T00:00:00.000000000', '2017-12-20T00:00:00.000000000',
       '2017-12-21T00:00:00.000000000', '2017-12-22T00:00:00.000000000',
       '2017-12-23T00:00:00.000000000', '2017-12-24T00:00:00.000000000',
       '2017-12-25T00:00:00.000000000', '2017-12-26T00:00:00.000000000',
       '2017-12-27T00:00:00.000000000', '2017-12-28T00:00:00.000000000',
       '2017-12-29T00:00:00.000000000', '2017-12-30T00:00:00.000000000',
       '2017-12-31T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-07-01T00:00:00.000000000',
       '2018-08-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000', '2018-11-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-01-13T00:00:00.000000000',
       '2018-01-14T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-01-16T00:00:00.000000000', '2018-01-17T00:00:00.000000000',
       '2018-01-18T00:00:00.000000000', '2018-01-19T00:00:00.000000000',
       '2018-01-20T00:00:00.000000000', '2018-01-21T00:00:00.000000000',
       '2018-01-22T00:00:00.000000000', '2018-01-23T00:00:00.000000000',
       '2018-01-24T00:00:00.000000000', '2018-01-25T00:00:00.000000000',
       '2018-01-26T00:00:00.000000000', '2018-01-27T00:00:00.000000000',
       '2018-01-28T00:00:00.000000000', '2018-01-29T00:00:00.000000000',
       '2018-01-30T00:00:00.000000000', '2018-01-31T00:00:00.000000000',
       '2018-01-02T00:00:00.000000000', '2018-02-02T00:00:00.000000000',
       '2018-03-02T00:00:00.000000000', '2018-04-02T00:00:00.000000000',
       '2018-05-02T00:00:00.000000000', '2018-06-02T00:00:00.000000000',
       '2018-07-02T00:00:00.000000000', '2018-08-02T00:00:00.000000000',
       '2018-09-02T00:00:00.000000000', '2018-10-02T00:00:00.000000000',
       '2018-11-02T00:00:00.000000000', '2018-12-02T00:00:00.000000000',
       '2018-02-13T00:00:00.000000000', '2018-02-14T00:00:00.000000000',
       '2018-02-15T00:00:00.000000000', '2018-02-16T00:00:00.000000000',
       '2018-02-17T00:00:00.000000000', '2018-02-18T00:00:00.000000000',
       '2018-02-19T00:00:00.000000000', '2018-02-20T00:00:00.000000000',
       '2018-02-21T00:00:00.000000000', '2018-02-22T00:00:00.000000000',
       '2018-02-23T00:00:00.000000000', '2018-02-24T00:00:00.000000000',
       '2018-02-25T00:00:00.000000000', '2018-02-26T00:00:00.000000000',
       '2018-02-27T00:00:00.000000000', '2018-02-28T00:00:00.000000000',
       '2018-01-03T00:00:00.000000000', '2018-02-03T00:00:00.000000000',
       '2018-03-03T00:00:00.000000000', '2018-04-03T00:00:00.000000000',
       '2018-05-03T00:00:00.000000000', '2018-06-03T00:00:00.000000000',
       '2018-07-03T00:00:00.000000000', '2018-08-03T00:00:00.000000000',
       '2018-09-03T00:00:00.000000000', '2018-10-03T00:00:00.000000000',
       '2018-11-03T00:00:00.000000000', '2018-12-03T00:00:00.000000000',
       '2018-03-13T00:00:00.000000000', '2018-03-14T00:00:00.000000000',
       '2018-03-15T00:00:00.000000000', '2018-03-16T00:00:00.000000000',
       '2018-03-17T00:00:00.000000000', '2018-03-18T00:00:00.000000000',
       '2018-03-19T00:00:00.000000000', '2018-03-20T00:00:00.000000000',
       '2018-03-21T00:00:00.000000000', '2018-03-22T00:00:00.000000000',
       '2018-03-23T00:00:00.000000000', '2018-03-24T00:00:00.000000000',
       '2018-03-25T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-03-27T00:00:00.000000000', '2018-03-28T00:00:00.000000000',
       '2018-03-29T00:00:00.000000000', '2018-03-30T00:00:00.000000000',
       '2018-03-31T00:00:00.000000000', '2018-01-04T00:00:00.000000000',
       '2018-02-04T00:00:00.000000000', '2018-03-04T00:00:00.000000000',
       '2018-04-04T00:00:00.000000000', '2018-05-04T00:00:00.000000000',
       '2018-06-04T00:00:00.000000000', '2018-07-04T00:00:00.000000000',
       '2018-08-04T00:00:00.000000000', '2018-09-04T00:00:00.000000000',
       '2018-10-04T00:00:00.000000000', '2018-11-04T00:00:00.000000000',
       '2018-12-04T00:00:00.000000000', '2018-04-13T00:00:00.000000000',
       '2018-04-14T00:00:00.000000000', '2018-04-15T00:00:00.000000000',
       '2018-04-16T00:00:00.000000000', '2018-04-17T00:00:00.000000000',
       '2018-04-18T00:00:00.000000000', '2018-04-19T00:00:00.000000000',
       '2018-04-20T00:00:00.000000000', '2018-04-21T00:00:00.000000000',
       '2018-04-22T00:00:00.000000000', '2018-04-23T00:00:00.000000000',
       '2018-04-24T00:00:00.000000000', '2018-04-25T00:00:00.000000000',
       '2018-04-26T00:00:00.000000000', '2018-04-27T00:00:00.000000000',
       '2018-04-28T00:00:00.000000000', '2018-04-29T00:00:00.000000000',
       '2018-04-30T00:00:00.000000000', '2018-01-05T00:00:00.000000000',
       '2018-02-05T00:00:00.000000000', '2018-03-05T00:00:00.000000000',
       '2018-04-05T00:00:00.000000000', '2018-05-05T00:00:00.000000000',
       '2018-06-05T00:00:00.000000000', '2018-07-05T00:00:00.000000000',
       '2018-08-05T00:00:00.000000000', '2018-09-05T00:00:00.000000000',
       '2018-10-05T00:00:00.000000000', '2018-11-05T00:00:00.000000000',
       '2018-12-05T00:00:00.000000000', '2018-05-13T00:00:00.000000000',
       '2018-05-14T00:00:00.000000000', '2018-05-15T00:00:00.000000000',
       '2018-05-16T00:00:00.000000000', '2018-05-17T00:00:00.000000000',
       '2018-05-18T00:00:00.000000000', '2018-05-19T00:00:00.000000000',
       '2018-05-20T00:00:00.000000000', '2018-05-21T00:00:00.000000000',
       '2018-05-22T00:00:00.000000000', '2018-05-23T00:00:00.000000000',
       '2018-05-24T00:00:00.000000000', '2018-05-25T00:00:00.000000000',
       '2018-05-26T00:00:00.000000000', '2018-05-27T00:00:00.000000000',
       '2018-05-28T00:00:00.000000000', '2018-05-29T00:00:00.000000000',
       '2018-05-30T00:00:00.000000000', '2018-05-31T00:00:00.000000000',
       '2018-01-06T00:00:00.000000000', '2018-02-06T00:00:00.000000000',
       '2018-03-06T00:00:00.000000000', '2018-04-06T00:00:00.000000000',
       '2018-05-06T00:00:00.000000000', '2018-06-06T00:00:00.000000000',
       '2018-07-06T00:00:00.000000000', '2018-08-06T00:00:00.000000000',
       '2018-09-06T00:00:00.000000000', '2018-10-06T00:00:00.000000000',
       '2018-11-06T00:00:00.000000000', '2018-12-06T00:00:00.000000000',
       '2018-06-13T00:00:00.000000000', '2018-06-14T00:00:00.000000000',
       '2018-06-15T00:00:00.000000000', '2018-06-16T00:00:00.000000000',
       '2018-06-17T00:00:00.000000000', '2018-06-18T00:00:00.000000000',
       '2018-06-19T00:00:00.000000000', '2018-06-20T00:00:00.000000000',
       '2018-06-21T00:00:00.000000000', '2018-06-22T00:00:00.000000000',
       '2018-06-23T00:00:00.000000000', '2018-06-24T00:00:00.000000000',
       '2018-06-25T00:00:00.000000000', '2018-06-26T00:00:00.000000000',
       '2018-06-27T00:00:00.000000000', '2018-06-28T00:00:00.000000000',
       '2018-06-29T00:00:00.000000000', '2018-06-30T00:00:00.000000000',
       '2018-01-07T00:00:00.000000000', '2018-02-07T00:00:00.000000000',
       '2018-03-07T00:00:00.000000000', '2018-04-07T00:00:00.000000000',
       '2018-05-07T00:00:00.000000000', '2018-06-07T00:00:00.000000000',
       '2018-07-07T00:00:00.000000000', '2018-08-07T00:00:00.000000000',
       '2018-09-07T00:00:00.000000000', '2018-10-07T00:00:00.000000000',
       '2018-11-07T00:00:00.000000000', '2018-12-07T00:00:00.000000000',
       '2018-07-13T00:00:00.000000000', '2018-07-14T00:00:00.000000000',
       '2018-07-15T00:00:00.000000000', '2018-07-16T00:00:00.000000000',
       '2018-07-17T00:00:00.000000000', '2018-07-18T00:00:00.000000000',
       '2018-07-19T00:00:00.000000000', '2018-07-20T00:00:00.000000000',
       '2018-07-21T00:00:00.000000000', '2018-07-22T00:00:00.000000000',
       '2018-07-23T00:00:00.000000000', '2018-07-24T00:00:00.000000000',
       '2018-07-25T00:00:00.000000000', '2018-07-26T00:00:00.000000000',
       '2018-07-27T00:00:00.000000000', '2018-07-28T00:00:00.000000000',
       '2018-07-29T00:00:00.000000000', '2018-07-30T00:00:00.000000000',
       '2018-07-31T00:00:00.000000000', '2018-01-08T00:00:00.000000000',
       '2018-02-08T00:00:00.000000000', '2018-03-08T00:00:00.000000000',
       '2018-04-08T00:00:00.000000000', '2018-05-08T00:00:00.000000000',
       '2018-06-08T00:00:00.000000000', '2018-07-08T00:00:00.000000000',
       '2018-08-08T00:00:00.000000000', '2018-09-08T00:00:00.000000000',
       '2018-10-08T00:00:00.000000000', '2018-11-08T00:00:00.000000000',
       '2018-12-08T00:00:00.000000000', '2018-08-13T00:00:00.000000000',
       '2018-08-14T00:00:00.000000000', '2018-08-15T00:00:00.000000000',
       '2018-08-16T00:00:00.000000000', '2018-08-17T00:00:00.000000000',
       '2018-08-18T00:00:00.000000000', '2018-08-19T00:00:00.000000000',
       '2018-08-20T00:00:00.000000000', '2018-08-21T00:00:00.000000000',
       '2018-08-22T00:00:00.000000000', '2018-08-23T00:00:00.000000000',
       '2018-08-24T00:00:00.000000000', '2018-08-25T00:00:00.000000000',
       '2018-08-26T00:00:00.000000000', '2018-08-27T00:00:00.000000000',
       '2018-08-28T00:00:00.000000000', '2018-08-29T00:00:00.000000000',
       '2018-08-30T00:00:00.000000000', '2018-08-31T00:00:00.000000000',
       '2018-01-09T00:00:00.000000000', '2018-02-09T00:00:00.000000000',
       '2018-03-09T00:00:00.000000000', '2018-04-09T00:00:00.000000000',
       '2018-05-09T00:00:00.000000000', '2018-06-09T00:00:00.000000000',
       '2018-07-09T00:00:00.000000000', '2018-08-09T00:00:00.000000000',
       '2018-09-09T00:00:00.000000000', '2018-10-09T00:00:00.000000000',
       '2018-11-09T00:00:00.000000000', '2018-12-09T00:00:00.000000000',
       '2018-09-13T00:00:00.000000000', '2018-09-14T00:00:00.000000000',
       '2018-09-15T00:00:00.000000000', '2018-09-16T00:00:00.000000000',
       '2018-09-17T00:00:00.000000000', '2018-09-18T00:00:00.000000000',
       '2018-09-19T00:00:00.000000000', '2018-09-20T00:00:00.000000000',
       '2018-09-21T00:00:00.000000000', '2018-09-22T00:00:00.000000000',
       '2018-09-23T00:00:00.000000000', '2018-09-24T00:00:00.000000000',
       '2018-09-25T00:00:00.000000000', '2018-09-26T00:00:00.000000000',
       '2018-09-27T00:00:00.000000000', '2018-09-28T00:00:00.000000000',
       '2018-09-29T00:00:00.000000000', '2018-09-30T00:00:00.000000000',
       '2018-01-10T00:00:00.000000000', '2018-02-10T00:00:00.000000000',
       '2018-03-10T00:00:00.000000000', '2018-04-10T00:00:00.000000000',
       '2018-05-10T00:00:00.000000000', '2018-06-10T00:00:00.000000000',
       '2018-07-10T00:00:00.000000000', '2018-08-10T00:00:00.000000000',
       '2018-09-10T00:00:00.000000000', '2018-10-10T00:00:00.000000000',
       '2018-11-10T00:00:00.000000000', '2018-12-10T00:00:00.000000000',
       '2018-10-13T00:00:00.000000000', '2018-10-14T00:00:00.000000000',
       '2018-10-15T00:00:00.000000000', '2018-10-16T00:00:00.000000000',
       '2018-10-17T00:00:00.000000000', '2018-10-18T00:00:00.000000000',
       '2018-10-19T00:00:00.000000000', '2018-10-20T00:00:00.000000000',
       '2018-10-21T00:00:00.000000000', '2018-10-22T00:00:00.000000000',
       '2018-10-23T00:00:00.000000000', '2018-10-24T00:00:00.000000000',
       '2018-10-25T00:00:00.000000000', '2018-10-26T00:00:00.000000000',
       '2018-10-27T00:00:00.000000000', '2018-10-28T00:00:00.000000000',
       '2018-10-29T00:00:00.000000000', '2018-10-30T00:00:00.000000000',
       '2018-10-31T00:00:00.000000000', '2018-01-11T00:00:00.000000000',
       '2018-02-11T00:00:00.000000000', '2018-03-11T00:00:00.000000000',
       '2018-04-11T00:00:00.000000000', '2018-05-11T00:00:00.000000000',
       '2018-06-11T00:00:00.000000000', '2018-07-11T00:00:00.000000000',
       '2018-08-11T00:00:00.000000000', '2018-09-11T00:00:00.000000000',
       '2018-10-11T00:00:00.000000000', '2018-11-11T00:00:00.000000000',
       '2018-12-11T00:00:00.000000000', '2018-11-13T00:00:00.000000000',
       '2018-11-14T00:00:00.000000000', '2018-11-15T00:00:00.000000000',
       '2018-11-16T00:00:00.000000000', '2018-11-17T00:00:00.000000000',
       '2018-11-18T00:00:00.000000000', '2018-11-19T00:00:00.000000000',
       '2018-11-20T00:00:00.000000000', '2018-11-21T00:00:00.000000000',
       '2018-11-22T00:00:00.000000000', '2018-11-23T00:00:00.000000000',
       '2018-11-24T00:00:00.000000000', '2018-11-25T00:00:00.000000000',
       '2018-11-26T00:00:00.000000000', '2018-11-27T00:00:00.000000000',
       '2018-11-28T00:00:00.000000000', '2018-11-29T00:00:00.000000000',
       '2018-11-30T00:00:00.000000000'], dtype='datetime64[ns]')

The actual number of unique dates meets our expectation,
There is no missing values in dates
between the duration
'2017-12-01' to '2018-11-30'.

### Check for missing hours

In [54]:
pd.date_range('2017-12-01', '2018-11-30')

DatetimeIndex(['2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
               '2017-12-05', '2017-12-06', '2017-12-07', '2017-12-08',
               '2017-12-09', '2017-12-10',
               ...
               '2018-11-21', '2018-11-22', '2018-11-23', '2018-11-24',
               '2018-11-25', '2018-11-26', '2018-11-27', '2018-11-28',
               '2018-11-29', '2018-11-30'],
              dtype='datetime64[ns]', length=365, freq='D')

There are 365 days, ideally for each day we should get 24
 rows of data, the 'Hours' should have 365*24 = 8760 rows.
 No. of rows =  8760, so there is no missing hours as well.

### Rename the longer column names

In [55]:
df.rename(columns={
    'Temperature(°C)':'Temperature',
     'Dew point temperature(°C)':'Dew point temperature'
}, inplace=True)
#Print the column labels and data types.
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     8760 non-null   datetime64[ns]
 1   Rented Bike Count        8760 non-null   int64
 2   Hour                     8760 non-null   int64
 3   Temperature              8760 non-null   float64
 4   Humidity(%)              8760 non-null   int64
 5   Wind speed (m/s)         8760 non-null   float64
 6   Visibility (10m)         8760 non-null   int64
 7   Dew point temperature    8760 non-null   float64
 8   Solar Radiation (MJ/m2)  8760 non-null   float64
 9   Rainfall(mm)             8760 non-null   float64
 10  Snowfall (cm)            8760 non-null   float64
 11  Seasons                  8760 non-null   object
 12  Holiday                  8760 non-null   object
 13  Functioning Day          8760 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(4), object(3)
memory usage: 958.2+ KB

### Delete unnecessary columns

The 'Dew point temperature(°C)' is highly dependent on the
'Temperature(°C)', it will be removed.
The 'Holidays' is not related to our question, it will
also be removed.

In [56]:
df.drop('Dew point temperature', 1,inplace=True)
df.drop('Holiday', 1,inplace=True)
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     8760 non-null   datetime64[ns]
 1   Rented Bike Count        8760 non-null   int64
 2   Hour                     8760 non-null   int64
 3   Temperature              8760 non-null   float64
 4   Humidity(%)              8760 non-null   int64
 5   Wind speed (m/s)         8760 non-null   float64
 6   Visibility (10m)         8760 non-null   int64
 7   Solar Radiation (MJ/m2)  8760 non-null   float64
 8   Rainfall(mm)             8760 non-null   float64
 9   Snowfall (cm)            8760 non-null   float64
 10  Seasons                  8760 non-null   object
 11  Functioning Day          8760 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(4), object(2)
memory usage: 821.4+ KB

/var/folders/d3/hrklkv3d5nl_8rzt8c3y28l00000gn/T/ipykernel_68078/291827846.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop('Dew point temperature', 1,inplace=True)
/var/folders/d3/hrklkv3d5nl_8rzt8c3y28l00000gn/T/ipykernel_68078/291827846.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop('Holiday', 1,inplace=True)

## Save the prepared dataset

In [57]:
df.to_csv('Prepared_data.csv',index=False)